.slider {
  height: 50px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.track {
  display: flex;
  animation: scroll 40s linear infinite;
  width: max-content;
}

.icon {
  height: 40px;
  margin: 0 18px;
  opacity: 0.9;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
